.Login{
    
    box-sizing: border-box;
    border-radius: 100px;
}
.form1 {
    height: 50%;
    width: 50%;
    margin-top: 20px;
    border: 1px solid white; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
    background-color: white; 
}
.form-body{
    margin: 45px;
    
}


.image1{
    width: 80%;
    border: 1px;
    overflow: hidden;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 20px;
}
.heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-shadow: 0px 2px 4px ;
    font-size: 50px;
}
.flex-container {
    display: flex;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .box{
    box-sizing: border-box;
    padding: 10px;
    margin: 100px;
    height: 40%;
    width: 40%;
    margin-right: 50px;
    height: 50%;
    border: 1px solid white; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
    background-color: white;
  }
.head{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-shadow: 0px 2px 4px ;
    font-size: 50px;
}
.btn2{
    margin: 5px;
    padding: auto;
}
.form2{
    
}
.image2{
    width: 80%;
    border: 1px;
    overflow: hidden;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 20px;
}
