/* Navbar */
/* Sticky Navbar */
/* Sticky Navbar */
/* Navbar Styles */
/* Sticky Navbar */
/* Navbar Items */
.body{
  background-color: black;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #252b33;
  padding: 0.5rem 1rem;
  text-decoration: none; 
  transition: color 0.3s ease; 
}


.icons{
  cursor: pointer;
}

/* Home Page */
.body{
  background-color: red;
}
.slider-container-fluid {
  background-color: red;
  width: 90%;
overflow-x: hidden;
overflow-y: hidden;
  margin: 0 auto;
  position: relative;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Adjust this to your desired height */
}

.slider-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
  display: block;
  margin-left: 160px;
  
  
}

@media (max-width: 768px) {
  .slider-container {
      width: 100%;
  }
  .slide {
      height: 80%; /* Adjust height for smaller screens */
  }
}

  
 
