.screenshot {
    padding: 50px 0;
    background-color: #f9f9f9; /* Light background color */
  }
  
  
  
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .screen img {
    width: 100%;
    height: 70vh; /* Ensure equal height */
    object-fit: cover; 
  }
  
  .slick-prev,
  .slick-next {
    font-size: 1.5rem;
    color: #333;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: #BE2583; /* Match separator color */
  }
  
  .slick-dots {
    bottom: -30px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #333;
  }
  
  .slick-dots li.slick-active button:before {
    color: #BE2583; /* Highlight active dot */
  }
  
  