.row{
  margin-top: 50vw;
}
.pbrouse{
  width: 150px;
  height: 25px;
  margin-left: 9vw;
  margin-top: 2vw;
  }
  .bsbtn{
    width: 100%;
    height: 100%;
    margin-left: -9vw;
    background-color: white;
  }
  .brsbtn{
    width: 100%;
    height: 100%;
    color: white;
    margin-left: -9vw;
    background-color: black;
  }
  .brouse{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    margin-top: -2vw;

  background-color: white;
    
  }
  .brouse1{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    margin-top: -2vw;
  
  
  }
  .brouse2{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    margin-top: -2vw;

  
  }
  .brouse3{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    margin-top: -2vw;
  
    
  }
  .brouse4{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    margin-top: -2vw;

  }
  .brouse5{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    margin-top: -2vw;

  
  }
  .imgr{
    width: 87%;
    height: 0%;
    margin-left: -3vw;
 
 
  
  }
  .fimg{
    width: 95%;
    height: 20vw;
    margin-top: 4vw;
  }

.car{
  color: black;
}
