@media only screen and (max-width: 1400px) {
    .img{
        width: 20em;
        height: 8em;
        margin-left: 2vw;
        
    }
    .dow{
        width: 6em;
        height: 6em;
        margin-top: 4vh;
    }
    .hel{
      margin-top: -5em;
      margin-left: 8em;
    }
}
@media only screen and (max-width: 1100px) {
    .dow{
        width: 10vw;
        height: 10vw;
        margin-top: 4vh;
    }
    .hel{
      margin-top: -10vw;
      margin-left: 12vw;
      font-size: 2vw;
    }
}
@media only screen and (max-width: 700px) {
    .dow{
        width: 15vw;
        height: 15vw;
        margin-top: 4vh;
    }
    .hel{
      margin-top: -15vw;
      margin-left: 18vw;
      font-size: 2.5vw;
    }
}
@media only screen and (max-width: 480px) {
    .dow{
        width: 20vw;
        height: 20vw;
        margin-top: 4vh;
    }
    .hel{
      margin-top: 5vw;
      margin-left: -1vw;
      font-size: 4vw;
    }
}