.search{
    width: 100%;
    height: 20%;
  
  }
  .scmt{
    width: 80%;
    height: 80%;
  margin-left: 6%;
  margin-top: 2%;
  text-align: center;
  }
  .nbtn{ 
    width: 2%;
    height: 10%;
    margin-left: 86.5%;
    margin-top:-2.3%;
  }