@media only screen and (max-width: 1400px) {
.hc{
    margin-top: 2vh;
  }
  .add{
    width: 7vw;
    height: 3vw;
    margin-left: 82vw;
   margin-top: -9vw;
  }
  .book{
    width: 7vw;
    height: 3vw;
    margin-left: 73vw; 
    margin-top: -3vw;
  }
  .visit{
    width: 7vw;
    height: 3vw;
    margin-left: 63vw;
    margin-top: -3vw;
  }
  .abtn{
    width: 5vw;
    height: 7vh;
    color: white;
    
  }
  .sbtn{
    width: 5vw;
    height: 7vh;
  }
  .cmt{
    margin-top: 1vw;
  }
}
@media only screen and (max-width: 1100px) {
  .hc{
    margin-top: -16vh;
  }
  
  .add{
    width: 10vw;
    height: 3vw;
    margin-left: 83vw;
   margin-top: -11vw;
   font-size: 2vw;
  }
  .book{
    width: 10vw;
    height: 3vw;
    margin-left: 73vw; 
    margin-top: -3vw;
  }
  .visit{
    width: 10vw;
    height: 3vw;
    margin-left: 63vw;
    margin-top: -3vw;
  }
  .abtn{
    width: 8vw;
    height: 7vh;
    color: white;
    
  }
  .sbtn{
    width: 8vw;
    height: 7vh;
  
  }
  .cmt{
    margin-top: 20%;
    font-size: 1.3vw;
  }
  }
  @media only screen and (max-width: 480px) {
    .hc{
      margin-top: -16vh;
    }
    
    .add{
      width: 10vw;
      height: 3vw;
      margin-left: 63vw;
     margin-top: -11vw;
     font-size: 2vw;
    }
    .book{
      width: 10vw;
      height: 3vw;
      margin-left: 43vw; 
      margin-top: -3vw;
    }
    .visit{
      width: 10vw;
      height: 3vw;
      margin-left: 23vw;
      margin-top: -3vw;
    }
    .abtn{
      width: 17vw;
      height: 7vh;
      color: yellow;
      
    }
    .sbtn{
      width: 17vw;
      height: 7vh;
    
    }
    .cmt{
      margin-top: 20%;
      font-size: 2vw;
      font-weight: bold;
      text-align: center;
    }
    }
  
