
.pbrouse{
    margin-left: 6%;
    margin-top: 2%;
  }
  .bsbtn{
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .brsbtn{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
  }
  .brouse{
    width: 150px;
    height: 25px;
  margin-left: 140px;
  margin-top: -35px; 
  background-color: white;
    
  }
  .brouse1{
    width: 150px;
    height: 25px;
  margin-left: 310px;
  margin-top: -27px; 
  
  
  }
  .brouse2{
    width: 150px;
    height: 25px;
  margin-left: 480px;
  margin-top: -27px; 

  
  }
  .brouse3{
    width: 150px;
    height: 25px;
  margin-left: 650px;
  margin-top: -27px; 
  
    
  }
  .brouse4{
    width: 150px;
    height: 25px;
  margin-left: 820px;
  margin-top: -27px; 

  }
  .brouse5{
    width: 150px;
    height: 25px;
  margin-left: 990px;
  margin-top: -27px; 

  
  }
  .imgr{
    width: 87%;
    height: 0%;
    margin-left: 6%;
  margin-top: 20px;
 
  
  }
  .fimg{
    width: 95%;
    height: 0%;
  }