@media only screen and (max-width: 1400px) {
.event{
    width: 100vw;
    height: 7vw;
    margin-top: 6vw;
    background-color: #f5f5f5;
    
  }
  .ename{
    width: 8%;
    height: 1%;
    margin-left: 4%;
    margin-top: 1%;
  
  }
  .dt{
    width: 4vw;
    height: 3.6vw;
    
  }
  .pevent{
    margin-top: 10%;
    margin-left: 30%;
    background-color: white;
  }
  .ediv{
    width: 12vw;
    height: 4vw;
    margin-left: 2vw;
  margin-top: -1vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv2{
    width: 12vw;
    height: 4vw;
    margin-left: 17vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv3{
    width: 12vw;
    height: 4vw;
  margin-left: 32vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv4{
    width: 12vw;
    height: 4vw;
  margin-left: 47vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv5{
    width: 12vw;
    height: 4vw;
  margin-left: 62vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv6{
    width: 12vw;
    height: 4vw;
  margin-left: 77vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .pcss{
    margin-left: 45%;
    margin-top: -30%;
  }
}
@media only screen and (max-width: 1100px) {
  .event{
    width: 100vw;
    height: 10vw;
    margin-top: 12vw;
    background-color: #f5f5f5;
    
  }
  .ename{
    width: 8%;
    height: 1%;
    margin-left: 4%;
    margin-top: 1%;
  
  }
  .dt{
    width: 4vw;
    height: 3.6vw;
  }
  .pevent{
    margin-top: 10%;
    margin-left: 30%;
    background-color: white;
    color:red;
  }
  .ediv{
    width: 12vw;
    height: 4vw;
    margin-left: 2vw;
    margin-top: -1vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv2{
    width: 12vw;
    height: 4vw;
    margin-left: 17vw;
    margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv3{
    width: 12vw;
    height: 4vw;
  margin-left: 32vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv4{
    width: 12vw;
    height: 4vw;
  margin-left: 47vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv5{
    width: 12vw;
    height: 4vw;
  margin-left: 62vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv6{
    width: 12vw;
    height: 4vw;
  margin-left: 77vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .pcss{
    margin-left: 45%;
    margin-top: -30%;
    font-size: 1.4vw;
  }
  
}
@media only screen and (max-width: 700px) {
  .event{
    width: 100vw;
    height: 15vw;
    margin-top: 12vw;
    background-color: #f5f5f5;
    
  }
  .ename{
    width: 8%;
    height: 1%;
    margin-left: 4%;
    margin-top: 1%;
  
  }
  .dt{
    width: 4vw;
    height: 3.6vw;
  }
  .pevent{
    margin-top: 10%;
    margin-left: 30%;
    background-color: white;
    color:red;
    font-size: 2vw;
  }
  .ediv{
    width: 12vw;
    height: 4vw;
    margin-left: 2vw;
    margin-top: -1vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv2{
    width: 12vw;
    height: 4vw;
    margin-left: 17vw;
    margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv3{
    width: 12vw;
    height: 4vw;
  margin-left: 32vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv4{
    width: 12vw;
    height: 4vw;
  margin-left: 47vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv5{
    width: 12vw;
    height: 4vw;
  margin-left: 62vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv6{
    width: 12vw;
    height: 4vw;
  margin-left: 77vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .pcss{
    margin-left: 45%;
    margin-top: -30%;
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 480px) {
  .event{
    width: 100vw;
    height: 15vw;
    margin-top: 35vw;
    background-color: #f5f5f5;
    
  }
  .ename{
    width: 8%;
    height: 1%;
    margin-left: 4%;
    margin-top: 1%;
  
  }
  .dt{
    width: 4vw;
    height: 3.6vw;
  }
  .pevent{
    margin-top: 10%;
    margin-left: 30%;
    background-color: white;
    color:red;
  }
  .ediv{
    width: 12vw;
    height: 4vw;
    margin-left: 2vw;
    margin-top: -1vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv2{
    width: 12vw;
    height: 4vw;
    margin-left: 17vw;
    margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv3{
    width: 12vw;
    height: 4vw;
  margin-left: 32vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv4{
    width: 12vw;
    height: 4vw;
  margin-left: 47vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv5{
    width: 12vw;
    height: 4vw;
  margin-left: 62vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .ediv6{
    width: 12vw;
    height: 4vw;
  margin-left: 77vw;
  margin-top: -4.2vw;
  background-color: white;
    border: 1px solid black;
  }
  .pcss{
    margin-left: 45%;
    margin-top: -30%;
    font-size: 1.4vw;
  }
}

