.avatar {
    vertical-align: middle;
    

    border-radius: 50%;
    margin: auto;
    
    width: 156px;
  }
  .padding {
    padding-left: 10px!important;
    padding-right: 10px!important;
}


.cardbody{
  
    background-color: transparent;

    border: 0px solid rgba(0,0,0,.125);
  padding: 10px;

}
.card-title{

    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    font-weight: 300;

}
.card-text{
    line-height: 2;
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: 400;
}