.frm{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;

  
    border-radius: 0.25rem;
  transition: none;
}
.input-group-text{display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #7890a1;
    text-align: center;
    white-space: nowrap;
   
    border: none;
    border-radius: 0.25rem;
    background-color: #23354d;
    
}