.back{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    overflow: visible;
}
.stakeback{
    color: #10142c!important;
    text-decoration: none!important;
    cursor: pointer;
}
.update{
    white-space: pre;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Sans",sans-serif;
    color: #96a8b6;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 1.2;}
    .update {
        box-sizing: border-box;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        color: #7890a1;
        color: var(--token-2a633678-f86b-4ab5-94be-ee4f65254cde,#7890a1);
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
        background-color: #10142c;
        border: 0 solid #23354d;
        border-color: var(--token-e2079bf0-f281-429e-90ac-e5958a3c1a75,#23354d);
         border-bottom: none;
    }
  

.darto-logo{
    flex-shrink: 0;
    width: 99px;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #10142c!important;
    text-decoration: none!important;
    cursor: pointer;
}
.loge{
    width: 99px;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}