.paddingdefine{
   
    width: 64%;
    text-transform: uppercase;
    margin: auto;
}
.btnn{
    border: rgb(250, 0, 67);
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(250, 0, 67);
    border-radius: 63px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.btnn:hover{
    background-color:  rgb(250, 0, 67);
    border: rgb(250, 0, 67);
    color: #fff;
}