.divs{width: 100%;
max-width: 60%;
left: 20%;
position: sticky;
}

.divsbg{
    background-color: #10142c;
    width: 100%;
    padding: 5px 10px;
}
@media (max-width: 760px) {
    .divs {
   
      
        width: 100%;
        max-width: 101%;
        left: 0%;
    }
  }
  .customdivs{
    text-align: center;
    margin-left: auto;
    color: #fff;
    font-size: 17px;
    background-color: #fa0043;
    border: none;
    padding: 7px;
}
div.customdivs.tournament-more {
    padding: 3px !important; 
}