*{
    margin: 0;
    padding: 0;
  }
  
  
  .containers {
    position: sticky;
   
    width: 100%;
    max-width: 60%;
    left: 20%;
    
  }
  .divv{
    background-color: #10142c;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #10142c;
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.generalinfo{
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    overflow: visible;
}
.generalinfo{
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    overflow: visible;
}
.info{
    flex-shrink: 0;
    width: 100%;
    overflow: visible;
    flex-shrink: 0;
    width: 100%;
    overflow: visible;
}

.info {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 700;
    font-style: normal;
    font-family: "Noto Sans",sans-serif;
    color: #fff;
    color: var(--token-62d928f7-b29b-49a5-a425-bbc990e69ba9,#fff);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: left;
}

.listsearch{
    box-sizing: border-box;
    height: 33px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 7px;
    text-decoration: none;
    border: 0 solid #202337;
    color: #7890a1;
    border-color: var(--token-d34ce7c3-c3ef-41c9-8221-3e1644782e0e,#202337);
}
.about-darto{
    width: auto;
    height: auto;
    flex-shrink: 0;
    overflow: visible;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Sans",sans-serif;
    color: #7890a1;
    color: var(--token-2a633678-f86b-4ab5-94be-ee4f65254cde,#7890a1);
    font-size: 9px;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: left;
}
.follow{
    width: 100%;
    background-color: #10142c;
}
  .iconsrow{
    justify-content: space-around;
    padding: 20px;
  }
  .social{
    display: flex;
    justify-content: center;
    color: #7890a1;
  }

  .itt{
    text-decoration: none;
    text-align: -webkit-center;
    color: #7890a1;
    font-size: 17px;
  }
  .copyRight_define {
    text-align: center;
    padding-top: 36px;
    text-transform: uppercase;
    color: #7890a1;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 9px;
  }
  .headinfo{
    font-size: 13px;
    font-weight: 700;
  }
  .arrow:hover{
    color: #0bf!important;
  }
.about-darto:hover{
  color: #0bf!important;
}