.txt{
    font-size: 14px;
    text-align: center;
    color: rgb(120, 144, 161);
  
}
.frm{
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 6px;
}
.logins{
    max-width: 100%;
}