*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.homepage-padding
{
    padding-top: 91px;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;

    width: 100%;
    max-width: 60%;
    left: 20%;
}
@media (max-width: 760px) {
    .homepage-padding {
        position: sticky;
       
        width: 100%;
        max-width: 100%;
        left: 0%;
    }
  }

.padding-tops {
    background-image: url(/src/assest/images/color3.jpg);
    width: 100%;
    height: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.rows{
    padding-top: 10px;
}
