*{
  margin: 0;
  padding: 0;
}


.header2 {
  background-color: #10142c;
  margin-top: 44px;
  height: 45px;
  position: fixed;
  z-index: 11;
  max-width: 60%;
  left: 20%;
  
}

@media(max-width:760px){
  .header2 {
 
    max-width: 100%;
    left: 0%;
    
}
}
.navbar3{
  width: 100%;
  background-color: #10142c;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.scrollbar {
  overflow-x: auto;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding-left: 0px;
}
.navbar3 li {
  float: right;
 
  color: #5c778a;
  text-decoration: none;
  font-size: 12px;
  list-style: none;
}
.navc{
  padding: 12px;
  color: #5c778a;
 
}
.navc:hover{
  border-bottom: 2px solid #0bf;
  color: #0bf!important;
}




.Navbar2{
  max-height: 90px;

  display: flex;
overflow-x: auto;
overflow-y: hidden;
width: 100%;
background-color: #10142c;
display: flex;

align-items: center;

}
.scrollbar::-webkit-scrollbar{
  scrollbar-width: none;
  display: none;
  -ms-overflow-style: none;
}
/* /* .scrollbar::-webkit-scrollbar{

} */
/* .Navbar2 .item{
  min-width: 85px;
  height: 43px;
  line-height: 4rem;
  text-align: center;
  background-color: #10142c;

  color: #5c778a;
  font-size: 12px;

  
} */
.li:hover{
  border-bottom: 2px solid #0bf;
    color: #0bf!important;
} 