*{
    margin: 0;
    padding: 0;
}


.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 60%;
    left: 20%;
}
@media (max-width: 760px) {
    .header {
        position: fixed;
        z-index: 10;
        width: 100%;
        max-width: 100%;
        left: 0%;
    }
  }
.Navbar1{
    width: 100%;
    background-color: #10142c;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}
.bton{
    border: none;
    background-color: #10142c;
}
@media (max-width:760px){
    .dartologo{
        width: 142px;}   
}
.dartologo{
    max-width:  150px;
    display: block;
    float: left;
}
img{
    vertical-align: middle;
}
.rightside{
    justify-content: start;
    display: flex;
}

.rightmenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    float: right;
    padding-right: 21px;
    color: #5c778a;
    text-decoration: none;
    font-size: 12px;
}
.rightmenu:hover{
    color: #0bf!important;   
}
/* .menuicn:hover{

color: #0bf!important;
}
.menu:hover{
    color: #0bf!important;
    } */

.menuicn{
    font-size: 16px;
}
.menu {
    font-size: 11px;
}