.card1{      
    background-color: #23354d;
    border-radius: 0;

}

.card2{        
    background-color: #169fff!important;
    border-radius: 0;
}  

.title{
    line-height: 1.5;
    font-size: 11px;
    color: #fff;
    text-align: justify;
    padding: 6px;
    font-weight: 500;
}
.cardtitle{
    font-weight: 300;
    font-size: 20px;
}