
.bgcolor{
    background-color: #10142c;
    width: 100%;
}
.headers {
    position: sticky;
    z-index: 10;
    width: 100%;
    max-width: 60%;
    left: 20%;
}
@media (max-width: 760px) {
    .headers {
        position: sticky;
        z-index: 10;
        width: 100%;
        max-width: 100%;
        left: 0%;
    }
  }

/* minwidth 600px */
.padding-boto{
    padding-top: 13px;
}
.paddingpx  {
    height: 100%;
    background-color: #10142c;
    padding-bottom: 99px;
}
.details{
    width: 96%;
    padding-left: 5px;
    padding-right: 5px;
}
.stackprofile,.stackprofile1{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    overflow: visible;
}
.stackprofile{
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    border-color: #23354d;
    border-color: var(--token-e2079bf0-f281-429e-90ac-e5958a3c1a75,#23354d);
    border-width: 0 0 1px;
}
.stackprofile1{
    justify-content: space-between;
    align-items: center;
}
.size-manage {
    color: #0bf;
  
}
.imgavtar{
    width: 73px;
    border-radius: 99px;
    border: 2px solid #0bf;
}
.bto{
    border: rgb(250, 0, 67);
    padding: 10px;
    font-size: 14px;
    width: 157px;

    background-color: rgb(250, 0, 67);
    border-radius: 63px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}