@media only screen and (max-width: 1400px) {
.event{
    width: 100vw;
    height: 7vw;
    margin-top: 6vw;
    background-color: #f5f5f5;
    
  }
  
  .ename{
    width: 8%;
    height: 1%;
    margin-left: 4%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
  
  }
  .dt{
    width: 4vw;
    height: 3.6vw;
   
    
  }
  .pevent{
    margin-top: 10%;
    margin-left: 30%;
    background-color: white;
  }
  .ediv{
    width: 20vw;
    height: 4vw;
    margin-left: 2vw;
  margin-top: 2vw;
  background-color: white;
    border: 1px solid black;
  }
  
  .pcss{
    margin-left: 45%;
    margin-top: -30%;
    font-size: 1.4vw;
  }
  
}
@media only screen and (max-width: 700px) {
  .event{
    width: 100vw;
    height: 15vw;
    margin-top: 12vw;
    background-color: #f5f5f5;
    
  }
  .ename{
    width: 8%;
    height: 1%;
    margin-left: 4%;
    margin-top: 1%;
  
  }
  .dt{
    width: 4vw;
    height: 3.6vw;
  }
  .pevent{
    margin-top: 10%;
    margin-left: 30%;
    background-color: white;
    color:red;
    font-size: 2vw;
  }
  .ediv{
    width: 12vw;
    height: 4vw;
    margin-left: 2vw;
    margin-top: -1vw;
  background-color: white;
    border: 1px solid black;
  }
  
  .pcss{
    margin-left: 45%;
    margin-top: -30%;
    font-size: 1.4vw;
  }
}

