.row{
  margin-top: 50vw;
}
.pbrouse{
  width: 150px;
  height: 25px;
  margin-left: 1vw;
  margin-top: 2vw;
  }
  
  .brsbtn{
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 9vw;
    z-index: 8;
    background-color: black;
    border: 1px solid gray;
  }

  .brouse{
    width: 12vw;
    height: 25px;
    margin-left: 1vw;
    color: white;
    margin-top: -2vw;
   border: 1px solid gray;
  background-color: black;
    
  }
 
  .imgr{
    width: 87%;
    height: 0%;
    margin-left: -3vw;
 
 
  
  }
  .fimg{
    width: 95%;
    height: 20vw;
    margin-top: 7vw;
    margin-left: 10vw;
  }

.car{
  color: black;
}

.carousel-control-next-icon::before
{
  content: '>';
  font-size: 40px;
  color: gray;

}

